.footer {
    background-color:black;
    padding: 20px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-section {
    flex: 1;
    margin-right: 20px;
  }
  
  .footer-section h2 {
    font-size: 18px;
    font-weight: bold;
  }
  
  .footer-section p {
    margin-bottom: 10px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section li {
    margin-bottom: 5px;
  }
  
  .footer-section a {
    text-decoration: none;
    color:burlywood;
  }
  
  .social-media {
    display: flex;
  }
  
  .social-media a {
    margin-right: 10px;
    color:burlywood;
  }
  
  .footer-bottom {
    margin-top: 20px;
    text-align: center;
  }
  